.facebook {
  background-color: #21538a;
  border-color: #21538a;
  height: 40px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 3px;


  .facebookText {
    border-style: none;
    background-color: #21538a;
    // padding-top: 12px;
    width: 310px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    // box-sizing: border-box;
  } 
} 