.bodyContainer {
	display: flex;

	height: 100vh;
	width: 100vw;
	// align-items: flex-start;
	align-items: center;
	.bodyWhole {
		background-color: rgb(250, 244, 244);
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		border: 2rem, solid, blue;
		width: 100vw;
		height: 70vh;
		align-items: center;
		justify-self: center;

		// align-items: center;
		.upperBodyContainer {
			display: flex;
			flex-direction: column;
			width: 50vw;
			padding-top: 30px;
			border: 2rem, solid, blue;
			align-content: center;
			background-color: rgb(250, 244, 244);
			.slider {
				display: flex;
				border: 1px, solid, green;
			}
		}
		.lowerBodyContainer {
			display: flex;
			width: 50vw;
			flex-direction: column;
			align-content: center;
			background-color: rgb(250, 244, 244);
			align-items: center;
			.userPetInfo,
			.editUserPetInfo {
				display: flex;
				// position: relative;
				flex-direction: column;
				border: 2rem, solid, blue;

				.userInfoEdit,
				.userInfo {
					display: flex;
					flex-direction: column;
				}
				.petInfo {
					display: flex;
					align-items: flex-start;
					flex-direction: column;
					// width: 100%;
					max-width: 200px;
					.introduce {
						border: 1px solid tan;
						width: 400px;
					}
				}
				.petInfoEdit {
					display: flex;
					flex-direction: column;
					.editPetName {
						display: flex;
						.name {
							padding-left: 90px;
							align-self: center;
						}
					}
					.editBreed {
						display: flex;
						.petBreed {
							padding-left: 90px;
							align-self: center;
						}
					}
					.editAge {
						display: flex;
						.petAge {
							padding-left: 90px;
							align-self: center;
						}
					}
					.editInfoBtn {
						display: flex;
					}
				}
			}
			.editIntroduce {
				display: flex;
				.petIntroduce {
					padding-left: 90px;
					align-self: center;
				}
			}
			.onEditBtns {
				display: flex;
				justify-content: flex-end;
				padding-top: 20px;
				width: 100%;
			}
		}
	}
}
